.headingDiv {
    display: flex;
    justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.planetsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.planetsDiv{
    display: flex;
    align-items: left;
    flex-flow: column wrap;
    width:150px;
    height:150px;
    margin: 10px;
}
.radioDiv {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-flow: wrap;
}
.hideDiv {
    display: none;
}